/*
* UI BTXParis
* author: Aurélien Dupays-Dexemple
*/

.btx-paris
  position relative
  display block
  width 100%
  height auto
  overflow hidden !important

  .project-link-button
    position relative
    display block
    width 80px
    height 16px
    background-color #262626
    font-size 9px
    line-height 16px
    text-align center
    overflow hidden !important
    cursor pointer !important

    &:focus
      outline 0 !important

  .logo
    position relative
    display block
    margin 0 auto
    width 142px
    height 56px
    background-position center
    background-size 100% 100%
    background-repeat no-repeat !important
    overflow hidden !important

  .description-box
    position relative
    margin-top 38px
    display block
    width 100%
    height auto
    overflow hidden !important

    .circle-gradient
      position relative
      display block
      width 68px
      height 68px
      margin-left 18px
      background-position center center
      background-size 100% 100%
      background-repeat no-repeat !important
      overflow hidden !important

    .title
      position relative
      display block
      width 100%
      height auto
      color #3d3d3d
      font-size 10px
      line-height 13px
      text-align left

    .date
      position relative
      display block
      width 100%
      height auto
      color #3d3d3d
      font-size 8px
      line-height 10px
      text-align left

    .type
      position relative
      display block
      margin-top 6px
      width 100%
      height auto
      color #3d3d3d
      font-size 10px
      line-height 13px
      text-align left

    .project-link-button
      margin-top 12px

  .first-screen-box,
  .second-screen-box,
  .third-screen-box,
  .forth-screen-box
    .infos-box
      position relative
      display block
      width 100%
      height auto
      overflow hidden !important

      .title
        position relative
        display table
        width auto
        height auto
        margin-left 18px
        color #3d3d3d
        font-size 14px
        padding-bottom 2px
        padding-right 6px
        border-bottom solid 1px #ffffff

      .text
        position relative
        display block
        margin-top 10px
        padding-left 18px
        width 100%
        height auto
        color #3d3d3d
        font-size 10px
        line-height 12px
        text-align left

  .first-screen-box
    position relative
    display block
    margin-top 50px
    width 100%
    height auto
    overflow hidden !important

    .first-screen
      position relative
      margin-top 28px
      display block
      width 100%
      height auto
      overflow hidden !important

      &:focus
        outline 0 !important

  .second-screen-box
    position relative
    display block
    padding-top 54px
    padding-bottom 158px
    width 100%
    height auto

    .infos-box
      .title
        color #ffffff !important
        border-bottom-color #3d3d3d

      .text
        color #ffffff !important

    .second-screen
      position absolute
      left 0
      right 0
      bottom -70px
      margin 0 auto
      display block
      width 270px
      height 184px
      z-index 2
      overflow hidden !important

      &:focus
        outline 0 !important

  .third-screen-box
    position relative
    padding-top 128px
    padding-bottom 236px
    display block
    width 100%
    height auto
    background-color #ffffff

    .third-screen
      position absolute
      left 0
      right 0
      bottom -102px
      margin 0 auto
      display block
      width 270px
      height 303px
      z-index 2
      overflow hidden !important

      &:focus
        outline 0 !important

  .screen-separator
    position relative
    display block
    width 100%
    height 166px
    overflow hidden !important

  .forth-screen-box
    position block
    display block
    width 100%
    height auto
    padding-top 40px
    padding-bottom 16px
    background-color #ffffff
    overflow hidden !important

    .fourth-screen
      position relative
      display block
      margin 22px auto 0 auto
      width 220px
      height auto
      overflow hidden !important

      &:focus
        outline 0 !important

    .project-link-button
      margin 12px auto 0 auto !important
