/*
* UI BTXParis
* author: Aurélien Dupays-Dexemple
*/

.btx-paris
  position relative
  display block
  width 100%
  height auto
  overflow hidden !important

  .project-link-button
    position relative
    display block
    width 80px
    height 16px
    background-color #262626
    font-size 9px
    line-height 16px
    text-align center
    overflow hidden !important
    cursor pointer !important

    &:focus
      outline 0 !important

    @media only screen and (min-width: 768px)
      width 192px
      height 36px
      font-size 22px
      line-height 36px

    @media only screen and (min-width: 1200px)
      width 276px
      height 52px
      font-size 32px
      line-height 52px


  .logo
    position relative
    display block
    margin 0 auto
    width 142px
    height 56px
    background-position center
    background-size 100% 100%
    background-repeat no-repeat !important
    overflow hidden !important

    @media only screen and (min-width: 768px)
      width 338px
      height 132px

    @media only screen and (min-width: 1200px)
      width 700px
      height 274px

  .description-box
    position relative
    margin 38px auto 0 auto
    display block
    max-width 1366px
    height auto
    overflow hidden !important

    @media only screen and (min-width: 768px)
      margin-top 90px

    @media only screen and (min-width: 1200px)
      margin-top 262px

      .container
        width 100%

        .row
          max-width 100% !important

    .circle-gradient
      position relative
      display block
      width 68px
      height 68px
      margin-left 18px
      background-position center center
      background-size 100% 100%
      background-repeat no-repeat !important
      overflow hidden !important

      @media only screen and (min-width: 768px)
        margin-left 40px
        width 162px
        height 162px

      @media only screen and (min-width: 1200px)
        margin-left 0
        width 400px
        height 400px

    .title
      position relative
      display block
      width 100%
      height auto
      color #3d3d3d
      font-size 10px
      line-height 13px
      text-align left

      @media only screen and (min-width: 768px)
        font-size 24px
        line-height 28px

      @media only screen and (min-width: 1200px)
        font-size 34px
        line-height 28px

    .date
      position relative
      display block
      width 100%
      height auto
      color #3d3d3d
      font-size 8px
      line-height 10px
      text-align left

      @media only screen and (min-width: 768px)
        font-size 19px
        line-height 22px

      @media only screen and (min-width: 1200px)
        font-size 27px
        line-height 30px

    .type
      position relative
      display block
      margin-top 6px
      width 100%
      height auto
      color #3d3d3d
      font-size 10px
      line-height 13px
      text-align left

      @media only screen and (min-width: 768px)
        margin-top 20px
        font-size 24px
        line-height 28px

      @media only screen and (min-width: 1200px)
        margin-top 40px
        font-size 34px
        line-height 28px

    .project-link-button
      margin-top 12px

      @media only screen and (min-width: 768px)
        margin-top 32px

      @media only screen and (min-width: 1200px)
        margin-top 60px

  .first-screen-box,
  .second-screen-box,
  .third-screen-box,
  .forth-screen-box
    .infos-box
      position relative
      display block
      margin 0 auto !important
      max-width 1366px
      height auto
      overflow hidden !important

      .title
        position relative
        display table
        width auto
        height auto
        margin-left 18px
        color #3d3d3d
        font-size 14px
        padding-bottom 2px
        padding-right 6px
        border-bottom solid 1px #ffffff

        @media only screen and (min-width: 768px)
          margin-left 40px
          font-size 36px
          padding-bottom 6px
          padding-right 8px
          border-bottom solid 2px #ffffff

        @media only screen and (min-width: 1200px)
          margin 0 auto
          font-size 70px
          padding-bottom 12px
          padding-right 0
          border-bottom solid 4px #ffffff

      .text
        position relative
        display block
        margin 10px auto 0 auto
        padding-left 18px
        max-width 1366px
        height auto
        color #3d3d3d
        font-size 10px
        line-height 12px
        text-align left

        @media only screen and (min-width: 768px)
          margin-top 24px
          padding-left 40px
          font-size 24px
          line-height 26px

        @media only screen and (min-width: 1200px)
          margin-top 46px
          padding-left 0
          font-size 34px
          line-height 36px
          text-align center !important

  .first-screen-box
    position relative
    display block
    margin 50px auto 0 auto
    width 100%
    height auto
    overflow hidden !important

    @media only screen and (min-width: 768px)
      margin-top 124px

    @media only screen and (min-width: 1200px)
      margin-top 230px

    .first-screen
      position relative
      margin-top 28px
      display block
      width 100%
      height auto
      overflow hidden !important

      &:focus
        outline 0 !important

      @media only screen and (min-width: 768px)
        margin-top 86px

      @media only screen and (min-width: 1200px)
        margin 106px auto 0 auto
        width 1366px !important

  .second-screen-box
    position relative
    display block
    padding-top 54px
    padding-bottom 158px
    width 100%
    height auto

    @media only screen and (min-width: 768px)
      padding-top 90px
      padding-bottom 380px

    @media only screen and (min-width: 1200px)
      padding-top 170px
      padding-bottom 746px

    .infos-box
      .title
        color #ffffff !important
        border-bottom-color #3d3d3d

      .text
        color #ffffff !important

    .second-screen
      position absolute
      left 0
      right 0
      bottom -70px
      margin 0 auto
      display block
      width 270px
      height 184px
      z-index 2
      overflow hidden !important

      &:focus
        outline 0 !important

      @media only screen and (min-width: 768px)
        bottom -160px
        width 628px
        height 430px

      @media only screen and (min-width: 1200px)
        bottom -310px
        width 1212px
        height 828px

  .third-screen-box
    position relative
    padding-top 128px
    padding-bottom 236px
    display block
    width 100%
    height auto
    background-color #ffffff

    @media only screen and (min-width: 768px)
      padding-top 312px
      padding-bottom 586px

    @media only screen and (min-width: 1200px)
      padding-top 602px
      padding-bottom 1140px

    .third-screen
      position absolute
      left 0
      right 0
      bottom -102px
      margin 0 auto
      display block
      width 270px
      height 303px
      z-index 2
      overflow hidden !important

      &:focus
        outline 0 !important

      @media only screen and (min-width: 768px)
        bottom -246px
        width 628px
        height 692px

      @media only screen and (min-width: 1200px)
        bottom -472px
        width 1208px
        height 1334px

  .screen-separator
    position relative
    display block
    width 100%
    height 166px
    overflow hidden !important

    @media only screen and (min-width: 768px)
      height 346px

    @media only screen and (min-width: 1200px)
      height 772px

  .forth-screen-box
    position block
    display block
    width 100%
    height auto
    padding-top 40px
    padding-bottom 16px
    background-color #ffffff
    overflow hidden !important

    @media only screen and (min-width: 768px)
      padding-top 80px
      padding-bottom 50px

    @media only screen and (min-width: 1200px)
      padding-top 160px
      padding-bottom 180px

    .fourth-screen
      position relative
      display block
      margin 22px auto 0 auto
      width 220px
      height auto
      overflow hidden !important

      &:focus
        outline 0 !important

      @media only screen and (min-width: 768px)
        margin 60px auto 0 auto
        width 414px

      @media only screen and (min-width: 1200px)
        margin 116px auto 0 auto
        width 928px

    .project-link-button
      margin 12px auto 0 auto !important

      @media only screen and (min-width: 768px)
        margin 32px auto 0 auto

      @media only screen and (min-width: 1200px)
        margin 68px auto 0 auto
