/*
* UI ProjectsGrid
* author: Aurélien Dupays-Dexemple
*/

.projects-grid
  position relative
  display block
  width 100%
  height auto
  overflow hidden !important

  .container
    width 100% !important

    .col-xs-6
      padding 0 !important

      .thumbnail
        position relative
        display block
        width 100%
        padding-bottom 100%
        background-color #3d3d3d
        overflow hidden !important
        cursor pointer !important

        .content-container
          position absolute
          display block
          top 0
          left 0
          bottom 0
          right 0
          overflow hidden !important

          .cover
            position absolute
            display block
            top 0
            left 0
            bottom 0
            right 0
            background-position center center
            background-size cover
            background-repeat no-repeat !important
            overflow hidden !important

          .filter
            position absolute
            display block
            top 0
            left 0
            bottom 0
            right 0
            background linear-gradient(to bottom, rgba(255,255,255, 0.2) 0%, rgba(61,61,61,0.75) 100%)
            background -webkit-linear-gradient(to bottom, rgba(255,255,255, 0.2) 0%, rgba(61,61,61,0.75) 100%)
            background -moz-linear-gradient(to bottom, rgba(255,255,255, 0.2) 0%, rgba(61,61,61,0.75) 100%)
            background -o-linear-gradient(to bottom, rgba(255,255,255, 0.2) 0%, rgba(61,61,61,0.75) 100%)
            background -ms-linear-gradient(to bottom, rgba(255,255,255, 0.2) 0%, rgba(61,61,61,0.75) 100%)
            overflow hidden !important

          .infos-box
            position absolute
            display block
            top 0
            left 0
            bottom 0
            right 0
            overflow hidden !important

            a
              position absolute
              display block
              top 0
              left 0
              bottom 0
              right 0
              overflow hidden !important

              .infos-container
                position relative
                display table
                table-layout fixed !important
                width 100%
                height 100%
                overflow hidden !important

                .infos-content
                  position relative
                  display table-cell !important
                  width 100%
                  height 100%
                  padding-bottom 14px
                  vertical-align bottom !important
                  overflow hidden !important

                  @media only screen and (min-width: 768px)
                    padding-bottom 32px

                  .name
                    position relative
                    display block
                    margin-bottom 4px
                    width 100%
                    height auto
                    padding-left 17px
                    padding-right 17px
                    color #ffffff
                    font-size 13px
                    text-align center

                    @media only screen and (min-width: 768px)
                      margin-bottom 6px
                      font-size 32px
                      padding-left 22px
                      padding-right 22px

                  .dash
                    position relative
                    display block
                    margin 0 auto 6px auto
                    width 18px
                    height 1px
                    background-color #ffffff

                    @media only screen and (min-width: 768px)
                      width 42px
                      margin 0 auto 8px auto

                  .type
                    position relative
                    display block
                    width 100%
                    height auto
                    color #ffffff
                    font-size 9px
                    text-align center

                    @media only screen and (min-width: 768px)
                      font-size 20px
