/*
* UI Occabike
* author: Aurélien Dupays-Dexemple
*/

.occabike
  position relative
  display block
  width 100%
  height auto
  overflow hidden !important

  .project-link-button
    position relative
    display block
    width 80px
    height 16px
    background-color #20682d
    color #ffffff
    font-size 9px
    line-height 16px
    text-align center
    overflow hidden !important
    cursor pointer !important

    &:focus
      outline 0 !important

    @media only screen and (min-width: 768px)
      width 192px
      height 36px
      font-size 22px
      line-height 36px

    @media only screen and (min-width: 1200px)
      width 276px
      height 52px
      font-size 32px
      line-height 52px


  .logo
    position relative
    display block
    margin 0 auto
    width 142px
    height 67px
    background-position center
    background-size 100% 100%
    background-repeat no-repeat !important
    overflow hidden !important

    @media only screen and (min-width: 768px)
      width 375px
      height 177px

    @media only screen and (min-width: 1200px)
      width 970px
      height 459px

  .description-box
    position relative
    margin 38px auto 0 auto
    display block
    max-width 1366px
    height auto
    overflow hidden !important

    @media only screen and (min-width: 768px)
      margin-top 90px

    @media only screen and (min-width: 1200px)
      margin-top 262px

      .container
        width 100%

        .row
          max-width 100% !important

    .circle-gradient
      position relative
      display block
      width 68px
      height 68px
      margin-left 18px
      background-position center center
      background-size 100% 100%
      background-repeat no-repeat !important
      overflow hidden !important

      @media only screen and (min-width: 768px)
        margin-left 40px
        width 162px
        height 162px

      @media only screen and (min-width: 1200px)
        margin-left 0
        width 400px
        height 400px

    .title
      position relative
      display block
      width 100%
      height auto
      color #3d3d3d
      font-size 10px
      line-height 13px
      text-align left

      @media only screen and (min-width: 768px)
        font-size 24px
        line-height 28px

      @media only screen and (min-width: 1200px)
        font-size 34px
        line-height 28px

    .date
      position relative
      display block
      width 100%
      height auto
      color #3d3d3d
      font-size 8px
      line-height 10px
      text-align left

      @media only screen and (min-width: 768px)
        font-size 19px
        line-height 22px

      @media only screen and (min-width: 1200px)
        font-size 27px
        line-height 30px

    .type
      position relative
      display block
      margin-top 6px
      width 100%
      height auto
      color #3d3d3d
      font-size 10px
      line-height 13px
      text-align left

      @media only screen and (min-width: 768px)
        margin-top 20px
        font-size 24px
        line-height 28px

      @media only screen and (min-width: 1200px)
        margin-top 40px
        font-size 34px
        line-height 28px

    .project-link-button
      margin-top 12px

      @media only screen and (min-width: 768px)
        margin-top 32px

      @media only screen and (min-width: 1200px)
        margin-top 60px

  .first-screen-box,
  .second-screen-box,
  .third-screen-box,
  .forth-screen-box
    .infos-box
      position relative
      display block
      margin 0 auto !important
      max-width 1366px
      height auto
      overflow hidden !important

      .title
        position relative
        display table
        width auto
        height auto
        margin-left 18px
        color #3d3d3d
        font-size 14px
        padding-bottom 2px
        padding-right 6px
        border-bottom solid 1px #ffffff

        @media only screen and (min-width: 768px)
          margin-left 40px
          font-size 36px
          padding-bottom 6px
          padding-right 8px
          border-bottom solid 2px #ffffff

        @media only screen and (min-width: 1200px)
          margin 0 auto
          font-size 70px
          padding-bottom 12px
          padding-right 0
          border-bottom solid 4px #ffffff

      .text
        position relative
        display block
        margin 10px auto 0 auto
        padding-left 18px
        max-width 1366px
        height auto
        color #3d3d3d
        font-size 10px
        line-height 12px
        text-align left

        @media only screen and (min-width: 768px)
          margin-top 24px
          padding-left 40px
          font-size 24px
          line-height 26px

        @media only screen and (min-width: 1200px)
          margin-top 46px
          padding-left 0
          font-size 34px
          line-height 36px
          text-align center !important

  .first-screen-box
    position relative
    display block
    margin 20px auto 0 auto
    width 100%
    height auto
    overflow hidden !important

    @media only screen and (min-width: 768px)
      margin-top 72px

    @media only screen and (min-width: 1200px)
      margin-top 230px

    .first-screen
      position relative
      margin-top 28px
      display block
      width 100%
      height auto
      overflow hidden !important

      &:focus
        outline 0 !important

      @media only screen and (min-width: 768px)
        margin-top 36px

      @media only screen and (min-width: 1200px)
        margin 106px auto 0 auto
        width 1366px !important

  .second-screen-box
    position relative
    display block
    padding-top 22px
    width 100%
    height auto

    @media only screen and (min-width: 768px)
      padding-top 66px

    @media only screen and (min-width: 1200px)
      padding-top 148px

    .infos-box
      .title
        color #ffffff !important
        border-bottom-color #3d3d3d

      .text
        color #ffffff !important

    .second-screen
      position relative
      display block
      margin-top 20px
      width 100%
      height auto
      overflow hidden !important

      &:focus
        outline 0 !important

      @media only screen and (min-width: 768px)
        margin-top 52px

      @media only screen and (min-width: 1200px)
        margin 136px auto 0 auto
        width 1366px !important

  .third-screen-box
    position relative
    display block
    padding-top 22px
    padding-bottom 186px
    width 100%
    height auto

    @media only screen and (min-width: 768px)
      padding-top 72px
      padding-bottom 432px

    @media only screen and (min-width: 1200px)
      padding-top 146px
      padding-bottom 929px

    .infos-box
      .title
        color #ffffff !important
        border-bottom-color #3d3d3d

      .text
        color #ffffff !important

    .third-screen
      position absolute
      left 0
      right 0
      bottom -82px
      margin 0 auto
      display block
      width 270px
      height 238px
      z-index 2
      overflow hidden !important

      &:focus
        outline 0 !important

      @media only screen and (min-width: 768px)
        bottom -126px
        width 628px
        height 526px

      @media only screen and (min-width: 1200px)
        bottom -260px
        width 1366px
        height 1063px

  .end
    position relative
    display block
    padding-top 100px
    padding-bottom 20px
    width 100%
    height auto
    overflow hidden !important

    @media only screen and (min-width: 768px)
      padding-top 231px
      padding-bottom 50px

    @media only screen and (min-width: 1200px)
      padding-top 440px
      padding-bottom 180px

    .project-link-button
      margin 0 auto !important
