/*
* UI Overlay
* author: Aurélien Dupays-Dexemple
*/

.overlay-container-scale-0
  transform scaleX(0) scaleY(0)

.overlay-container
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  margin auto
  z-index 9999 !important
  background-color #ffffff
  -webkit-transform-origin 50% 50%
  overflow-x hidden !important
  overflow-y auto !important

  .overlay-mask
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    overflow hidden !important

  .overlay
    position relative
    display block
    width 100%
    height auto
    border solid 7px #ffffff
    overflow hidden !important

    @media only screen and (min-width: 768px)
      border solid 30px #ffffff

    .header
      position relative
      display block
      width 100%
      height 32px
      overflow hidden !important

      @media only screen and (min-width: 768px)
        height 66px

      @media only screen and (min-width: 1200px)
        height 154px

      .icon-box
        position absolute
        top 0
        left 0
        bottom 0
        right 0
        overflow hidden !important

        .icon
          position absolute
          top 13px
          right 13px
          width 19px
          height 19px
          background-position center center
          background-size 100% 100%
          background-repeat no-repeat !important
          overflow hidden !important
          cursor pointer !important

          @media only screen and (min-width: 768px)
            top 18px
            right 18px
            width 46px
            height 46px

          @media only screen and (min-width: 1200px)
            top 54px
            right 54px
            height 54px
            width 100px
            height 100px

          a
            display block
            width 100%
            height 100%

    .overlay-content
      position relative
      display block
      margin-top 24px
      width 100%
      height auto
      overflow hidden !important

    .footer
      position relative
      display block
      width 100%
      height auto
      padding-top 22px
      padding-bottom 10px
      overflow hidden !important

      @media only screen and (min-width: 768px)
        padding-top 48px
        padding-bottom 52px

      @media only screen and (min-width: 1200px)
        padding-top 76px
        padding-bottom 70px

      .gallery-navigation-box
        position relative
        display block
        width 100%
        height 42px
        overflow hidden !important

        @media only screen and (min-width: 768px)
          height 100px

        @media only screen and (min-width: 1200px)
          height 178px

        .global-navigation-container
          position relative
          display table
          table-layout fixed !important
          width 100%
          height 42px
          overflow hidden !important

          @media only screen and (min-width: 768px)
            height 100px

          @media only screen and (min-width: 1200px)
            height 178px

          .gallery-navigation-content
            position relative
            display table-cell
            width auto
            height 100%
            vertical-align middle !important
            overflow hidden !important

            &:first-of-type
              border-right solid 1px #ffffff

              @media only screen and (min-width: 768px)
                border-right solid 2px #ffffff

              @media only screen and (min-width: 1200px)
                border-right solid 4px #ffffff

            span
              display block
              width 100%
              height auto
              color #ffffff
              font-size 12px

              @media only screen and (min-width: 768px)
                font-size 30px

              @media only screen and (min-width: 1200px)
                font-size 44px

            .gallery-navigation-link-left
              text-align right
              padding-right 14px

              @media only screen and (min-width: 768px)
                padding-right 34px

              @media only screen and (min-width: 1200px)
                padding-right 82px

            .gallery-navigation-link-right
              text-align left
              padding-left 14px

              @media only screen and (min-width: 768px)
                padding-left 34px

              @media only screen and (min-width: 1200px)
                padding-left 82px

        .back-to-top-button
          position absolute
          top 0
          right 8px
          bottom 0
          margin auto 0
          width 19px
          height 14px
          background-position center center
          background-size 100% 100%
          background-repeat no-repeat !important
          overflow hidden !important
          cursor pointer !important

          &:focus
            outline 0 !important

          @media only screen and (min-width: 768px)
            width 46px
            height 34px

          @media only screen and (min-width: 1200px)
            width 110px
            height 82px

      .goback-to-gallery-box
        position relative
        padding-top 22px
        display table
        table-layout fixed !important
        width auto
        margin 0 auto
        overflow hidden !important

        @media only screen and (min-width: 768px)
          padding-top 48px

        @media only screen and (min-width: 1200px)
          padding-top 80px

        span
          color #303030
          font-size 17px
          line-height 20px

          @media only screen and (min-width: 768px)
            font-size 40px
            line-height 46px

          @media only screen and (min-width: 1200px)
            font-size 60px
            line-height 72px
