/*
* UI Loveforlivres
* author: Aurélien Dupays-Dexemple
*/

.loveforlivres
  position relative
  display block
  width 100%
  height auto
  overflow hidden !important

  .project-link-button
    position relative
    display block
    width 80px
    height 16px
    background-color #e20613
    color #ffffff
    font-size 9px
    line-height 16px
    text-align center
    overflow hidden !important
    cursor pointer !important

    &:focus
      outline 0 !important

    @media only screen and (min-width: 768px)
      width 192px
      height 36px
      font-size 22px
      line-height 36px

    @media only screen and (min-width: 1200px)
      width 276px
      height 52px
      font-size 32px
      line-height 52px

  .logo
    position relative
    display block
    margin 0 auto
    width 107px
    height 98px
    background-position center
    background-size 100% 100%
    background-repeat no-repeat !important
    overflow hidden !important

    @media only screen and (min-width: 768px)
      width 250px
      height 229px

    @media only screen and (min-width: 1200px)
      width 643px
      height 587px

  .description-box
    position relative
    margin 38px auto 0 auto
    display block
    max-width 1366px
    height auto
    overflow hidden !important

    @media only screen and (min-width: 768px)
      margin-top 90px

    @media only screen and (min-width: 1200px)
      margin-top 262px

      .container
        width 100%

        .row
          max-width 100% !important

    .circle-gradient
      position relative
      display block
      width 68px
      height 68px
      margin-left 18px
      background-position center center
      background-size 100% 100%
      background-repeat no-repeat !important
      overflow hidden !important

      @media only screen and (min-width: 768px)
        margin-left 40px
        width 162px
        height 162px

      @media only screen and (min-width: 1200px)
        margin-left 0
        width 400px
        height 400px

    .title
      position relative
      display block
      width 100%
      height auto
      color #3d3d3d
      font-size 10px
      line-height 13px
      text-align left

      @media only screen and (min-width: 768px)
        font-size 24px
        line-height 28px

      @media only screen and (min-width: 1200px)
        font-size 34px
        line-height 28px

    .date
      position relative
      display block
      width 100%
      height auto
      color #3d3d3d
      font-size 8px
      line-height 10px
      text-align left

      @media only screen and (min-width: 768px)
        font-size 19px
        line-height 22px

      @media only screen and (min-width: 1200px)
        font-size 27px
        line-height 30px

    .type
      position relative
      display block
      margin-top 6px
      width 100%
      height auto
      color #3d3d3d
      font-size 10px
      line-height 13px
      text-align left

      @media only screen and (min-width: 768px)
        margin-top 20px
        font-size 24px
        line-height 28px

      @media only screen and (min-width: 1200px)
        margin-top 40px
        font-size 34px
        line-height 28px

    .project-link-button
      margin-top 12px

      @media only screen and (min-width: 768px)
        margin-top 32px

      @media only screen and (min-width: 1200px)
        margin-top 60px

  .first-screen-box,
  .second-screen-box,
  .third-screen-box,
  .forth-screen-box
    .infos-box
      position relative
      display block
      margin 0 auto !important
      max-width 1366px
      height auto
      overflow hidden !important

      .title
        position relative
        display table
        width auto
        height auto
        margin-left 18px
        color #3d3d3d
        font-size 14px
        padding-bottom 2px
        padding-right 6px
        border-bottom solid 1px #e20613

        @media only screen and (min-width: 768px)
          margin-left 40px
          font-size 36px
          padding-bottom 6px
          padding-right 8px
          border-bottom solid 2px #e20613

        @media only screen and (min-width: 1200px)
          margin 0 auto
          font-size 70px
          padding-bottom 12px
          padding-right 0
          border-bottom solid 4px #e20613

      .text
        position relative
        display block
        margin 10px auto 0 auto
        padding-left 18px
        max-width 1366px
        height auto
        color #3d3d3d
        font-size 10px
        line-height 12px
        text-align left

        @media only screen and (min-width: 768px)
          margin-top 24px
          padding-left 40px
          font-size 24px
          line-height 26px

        @media only screen and (min-width: 1200px)
          margin-top 46px
          padding-left 0
          font-size 34px
          line-height 36px
          text-align center !important

  .first-screen-box
    position relative
    display block
    margin 64px auto 0 auto
    width 100%
    height auto
    overflow hidden !important

    @media only screen and (min-width: 768px)
      margin 72px auto 0 auto

    @media only screen and (min-width: 1200px)
      margin 234px auto 0 auto

    .first-screen
      position relative
      margin 28px auto 0 auto
      display block
      width 196px
      height 304px
      background-color #1d1d1d
      overflow hidden !important

      @media only screen and (min-width: 768px)
        margin 56px auto 0 auto
        width 480px
        height 748px

      @media only screen and (min-width: 1200px)
        margin 90px auto 0 auto
        width 1138px
        height 1773px

      .play-button
        position absolute
        top 0
        left 0
        bottom 0
        right 0
        margin auto
        width 70px
        height 49px
        background-position center center
        background-size 100% 100%
        background-repeat no-repeat !important
        overflow hidden !important
        cursor pointer !important

        &:focus
          outline 0 !important

        @media only screen and (min-width: 768px)
          width 172px
          height 120px

        @media only screen and (min-width: 1200px)
          width 407px
          height 285px

  .second-screen-box
    position relative
    display block
    margin 36px auto 0 auto
    width 100%
    height auto
    padding-top 30px
    padding-bottom 186px

    @media only screen and (min-width: 768px)
      margin 98px auto 0 auto
      padding-top 78px
      padding-bottom 418px

    @media only screen and (min-width: 1200px)
      margin 178px auto 0 auto
      padding-top 100px
      padding-bottom 864px

    .infos-box
      .title
        color #ffffff !important
        border-bottom-color #3d3d3d !important

      .text
        color #ffffff !important

    .second-screen
      position absolute
      left 0
      right 0
      bottom -82px
      margin 0 auto
      display block
      width 275px
      height 235px
      z-index 2
      overflow hidden !important

      &:focus
        outline 0 !important

      @media only screen and (min-width: 768px)
        width 628px
        height 537px
        bottom -178px

      @media only screen and (min-width: 1200px)
        width 1364px
        height 1166px
        bottom -424px

  .end
    position relative
    display block
    width 100%
    height auto
    padding-top 100px
    padding-bottom 16px
    overflow hidden !important

    @media only screen and (min-width: 768px)
      padding-top 248px
      padding-bottom 50px

    @media only screen and (min-width: 1200px)
      padding-top 550px
      padding-bottom 182px

    .project-link-button
      margin 0 auto !important
