/*
* UI CGFFLP
* author: Aurélien Dupays-Dexemple
*/

.cgf-future-leaders-programme
  position relative
  display block
  width 100%
  height auto
  overflow hidden !important

  .separator
    position relative
    display block
    width 100%
    height 50px
    background-color #ffffff
    overflow hidden !important

    @media only screen and (min-width: 768px)
      height 100px

    @media only screen and (min-width: 1200px)
      height 200px

  .global-summit,
  .retail-summit,
  .flp
    position relative
    display block
    width 100%
    height auto
    overflow hidden !important

    .logo
      position relative
      display block
      margin 0 auto
      background-position center
      background-size 100% 100%
      background-repeat no-repeat !important
      overflow hidden !important

    .description-box
      position relative
      margin 38px auto 0 auto
      display block
      max-width 1366px
      height auto
      overflow hidden !important

      @media only screen and (min-width: 768px)
        margin-top 90px

      @media only screen and (min-width: 1200px)
        margin-top 262px

        .container
          width 100%

          .row
            max-width 100% !important

      .circle-gradient
        position relative
        display block
        width 68px
        height 68px
        margin-left 18px
        background-position center center
        background-size 100% 100%
        background-repeat no-repeat !important
        overflow hidden !important

        @media only screen and (min-width: 768px)
          margin-left 40px
          width 162px
          height 162px

        @media only screen and (min-width: 1200px)
          margin-left 0
          width 400px
          height 400px

      .title
        position relative
        display block
        width 100%
        height auto
        color #3d3d3d
        font-size 10px
        line-height 13px
        text-align left

        @media only screen and (min-width: 768px)
          font-size 24px
          line-height 28px

        @media only screen and (min-width: 1200px)
          font-size 34px
          line-height 28px

      .date
        position relative
        display block
        width 100%
        height auto
        color #3d3d3d
        font-size 8px
        line-height 10px
        text-align left

        @media only screen and (min-width: 768px)
          font-size 19px
          line-height 22px

        @media only screen and (min-width: 1200px)
          font-size 27px
          line-height 30px

      .type
        position relative
        display block
        margin-top 6px
        width 100%
        height auto
        color #3d3d3d
        font-size 10px
        line-height 13px
        text-align left

        @media only screen and (min-width: 768px)
          margin-top 20px
          font-size 24px
          line-height 28px

        @media only screen and (min-width: 1200px)
          margin-top 40px
          font-size 34px
          line-height 28px

      .project-link-button
        margin-top 12px

        @media only screen and (min-width: 768px)
          margin-top 32px

        @media only screen and (min-width: 1200px)
          margin-top 60px

    .first-screen-box,
    .second-screen-box,
    .third-screen-box,
    .forth-screen-box
      .infos-box
        position relative
        display block
        margin 0 auto !important
        max-width 1366px
        height auto
        overflow hidden !important

        .title
          position relative
          display table
          width auto
          height auto
          margin-left 18px
          color #3d3d3d
          font-size 14px
          padding-bottom 2px
          padding-right 6px
          border-bottom solid 1px #274193

          @media only screen and (min-width: 768px)
            margin-left 40px
            font-size 36px
            padding-bottom 6px
            padding-right 8px
            border-bottom solid 2px #274193

          @media only screen and (min-width: 1200px)
            margin 0 auto
            font-size 70px
            padding-bottom 12px
            padding-right 0
            border-bottom solid 4px #274193

        .text
          position relative
          display block
          margin 10px auto 0 auto
          padding-left 18px
          max-width 1366px
          height auto
          color #3d3d3d
          font-size 10px
          line-height 12px
          text-align left

          @media only screen and (min-width: 768px)
            margin-top 24px
            padding-left 40px
            font-size 24px
            line-height 26px

          @media only screen and (min-width: 1200px)
            margin-top 46px
            padding-left 0
            font-size 34px
            line-height 36px
            text-align center !important

  .global-summit
    .logo
      width 200px
      height 45px

      @media only screen and (min-width: 768px)
        width 432px
        height 104px

      @media only screen and (min-width: 1200px)
        margin-top 170px
        width 1140px
        height 273px

    .first-screen-box
      position relative
      display block
      margin 64px auto 0 auto
      width 100%
      height auto
      overflow hidden !important

      @media only screen and (min-width: 768px)
        margin 128px auto 0 auto

      @media only screen and (min-width: 1200px)
        margin 234px auto 0 auto

      .first-screen
        position relative
        margin 12px auto 0 auto
        display block
        width 280px
        height auto
        overflow hidden !important

        &:focus
          outline 0 !important

        @media only screen and (min-width: 768px)
          width 628px

        @media only screen and (min-width: 1200px)
          margin-top 24px
          width 1200px


    .second-screen-box
      position relative
      display block
      margin 34px auto 0 auto
      width 100%
      height auto
      padding-top 20px
      overflow hidden !important

      @media only screen and (min-width: 768px)
        margin 110px auto 0 auto
        padding-top 72px

      @media only screen and (min-width: 1200px)
        margin 150px auto 0 auto
        padding-top 172px

      .infos-box
        .title
          color #ffffff !important
          border-bottom-color #ffffff !important

        .text
          color #ffffff !important

      .second-screen-img-container
        position relative
        margin 12px auto 0 auto
        display block
        width 100%
        height auto
        background-color #ffffff !important

        @media only screen and (min-width: 768px)
          margin 94px auto 0 auto

        @media only screen and (min-width: 1200px)
          margin 132px auto 0 auto

        .second-screen
          position relative
          margin 0 auto
          display block
          width 100%
          height auto
          overflow hidden !important

          &:focus
            outline 0 !important

          @media only screen and (min-width: 1200px)
            width 1336px

    .third-screen-box
      position relative
      display block
      width 100%
      height auto
      padding-top 32px
      overflow hidden !important

      @media only screen and (min-width: 768px)
        padding-top 80px

      @media only screen and (min-width: 1200px)
        padding-top 306px

      .third-screen
        position relative
        margin 6px auto 0 auto
        display block
        width 100%
        height auto
        overflow hidden !important

        &:focus
          outline 0 !important

        @media only screen and (min-width: 768px)
          margin 46px auto 0 auto

        @media only screen and (min-width: 1200px)
          margin 60px auto 0 auto
          width 1200px

    .forth-screen-box
      position relative
      display block
      margin 0 auto
      width 100%
      height auto
      padding-top 30px
      padding-bottom 186px

      @media only screen and (min-width: 768px)
        padding-top 76px
        padding-bottom 402px

      @media only screen and (min-width: 1200px)
        padding-top 404px
        padding-bottom 678px

      .infos-box
        .title
          color #ffffff !important
          border-bottom-color #ffffff !important

        .text
          color #ffffff !important

      .forth-screen
        position absolute
        left 0
        right 0
        bottom -200px
        margin 0 auto
        display block
        width 286px
        height 348px
        z-index 2
        overflow hidden !important

        &:focus
          outline 0 !important

        @media only screen and (min-width: 768px)
          width 628px
          height 704px
          bottom -400px

        @media only screen and (min-width: 1200px)
          width 1200px
          height 1460px
          bottom -810px

    .end
      position relative
      display block
      width 100%
      height 198px
      background #ffffff
      overflow hidden !important

      @media only screen and (min-width: 768px)
        height 440px

      @media only screen and (min-width: 1200px)
        height 840px

  .retail-summit
    .logo
      margin-top 24px
      width 200px
      height 45px

      @media only screen and (min-width: 768px)
        margin-top 80px
        width 432px
        height 104px

      @media only screen and (min-width: 1200px)
        margin-top 240px
        width 1140px
        height 273px

    .first-screen-box
      position relative
      display block
      margin 64px auto 0 auto
      width 100%
      height auto
      padding-bottom 20px
      overflow hidden !important

      @media only screen and (min-width: 768px)
        margin-top 72px
        padding-bottom 90px

      @media only screen and (min-width: 1200px)
        margin-top 246px
        padding-bottom 160px

      .infos-box
        .title
          border-bottom-color #a6c0b7 !important

      .first-screen
        position relative
        margin 30px auto 0 auto
        display block
        width 270px
        height auto
        overflow hidden !important

        @media only screen and (min-width: 768px)
          margin-top 96px
          width 628px

        @media only screen and (min-width: 1200px)
          margin-top 160px
          width 1200px

        &:focus
          outline 0 !important

  .flp
    .logo
      margin-top 24px
      width 200px
      height 45px

      @media only screen and (min-width: 768px)
        margin-top 80px
        width 432px
        height 104px

      @media only screen and (min-width: 1200px)
        margin-top 240px
        width 1140px
        height 273px

    .first-screen-box
      position relative
      display block
      margin 64px auto 0 auto
      width 100%
      height auto
      padding-bottom 20px
      overflow hidden !important

      @media only screen and (min-width: 768px)
        margin-top 72px
        padding-bottom 90px

      @media only screen and (min-width: 1200px)
        margin-top 246px
        padding-bottom 160px

      .infos-box
        .title
          border-bottom-color #a6c0b7 !important

      .first-screen
        position relative
        margin 30px auto 0 auto
        display block
        width 227px
        height auto
        overflow hidden !important

        @media only screen and (min-width: 768px)
          margin-top 96px
          width 628px

        @media only screen and (min-width: 1200px)
          margin-top 160px
          width 1200px

        &:focus
          outline 0 !important
